@import "~swiper/swiper.scss";
@import "~swiper/modules/navigation/navigation.scss";

/* gilroy-ultralightitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 400;
  src: local("Gilroy-UltraLightItalic"),
    url(../assets/fonts/gilroy-ultralightitalic.woff2) format("woff2");
}
/* gilroy-ultralight */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-UltraLight"),
    url(../assets/fonts/gilroy-ultralight.woff2) format("woff2");
}
/* gilroy-thinitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 100;
  src: local("Gilroy-ThinItalic"),
    url(../assets/fonts/gilroy-thinitalic.woff2) format("woff2");
}
/* gilroy-thin */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 100;
  src: local("Gilroy-Thin"),
    url(../assets/fonts/gilroy-thin.woff2) format("woff2");
}
/* gilroy-semibolditalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 400;
  src: local("Gilroy-SemiBoldItalic"),
    url(../assets/fonts/gilroy-semibolditalic.woff2) format("woff2");
}
/* gilroy-semibold */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-SemiBold"),
    url(../assets/fonts/gilroy-semibold.woff2) format("woff2");
}
/* gilroy-regularitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 400;
  src: local("Gilroy-RegularItalic"),
    url(../assets/fonts/gilroy-regularitalic.woff2) format("woff2");
}
/* gilroy-regular */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Regular"),
    url(../assets/fonts/gilroy-regular.woff2) format("woff2");
}
/* gilroy-mediumitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 500;
  src: local("Gilroy-MediumItalic"),
    url(../assets/fonts/gilroy-mediumitalic.woff2) format("woff2");
}
/* gilroy-medium */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy-Medium"),
    url(../assets/fonts/gilroy-medium.woff2) format("woff2");
}
/* gilroy-lightitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 300;
  src: local("Gilroy-LightItalic"),
    url(../assets/fonts/gilroy-lightitalic.woff2) format("woff2");
}
/* gilroy-light */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"),
    url(../assets/fonts/gilroy-light.woff2) format("woff2");
}
/* gilroy-heavyitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 400;
  src: local("Gilroy-HeavyItalic"),
    url(../assets/fonts/gilroy-heavyitalic.woff2) format("woff2");
}
/* gilroy-heavy */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Heavy"),
    url(../assets/fonts/gilroy-heavy.woff2) format("woff2");
}
/* gilroy-extrabolditalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 400;
  src: local("Gilroy-ExtraBoldItalic"),
    url(../assets/fonts/gilroy-extrabolditalic.woff2) format("woff2");
}
/* gilroy-extrabold */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-ExtraBold"),
    url(../assets/fonts/gilroy-extrabold.woff2) format("woff2");
}
/* gilroy-bolditalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 700;
  src: local("Gilroy-BoldItalic"),
    url(../assets/fonts/gilroy-bolditalic.woff2) format("woff2");
}
/* gilroy-bold */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy-Bold"),
    url(../assets/fonts/gilroy-bold.woff2) format("woff2");
}
/* gilroy-blackitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 900;
  src: local("Gilroy-BlackItalic"),
    url(../assets/fonts/gilroy-blackitalic.woff2) format("woff2");
}
/* gilroy-black */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 900;
  src: local("Gilroy-Black"),
    url(../assets/fonts/gilroy-black.woff2) format("woff2");
}

// CSS Reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Header

.container {
  max-width: 1564px;
  margin: 0 auto;
  position: relative;

  .header-wrapper {
    display: flex;
    margin: 44px auto 0 auto;
    gap: 140px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    .header-left-wrapper {
      display: flex;
      gap: 48px;
      nav {
        align-self: center;
        ul {
          display: flex;
          list-style: none;
          gap: 39px;

          li {
            a {
              text-decoration: none;
              font-family: "Gilroy";
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 20px;
              color: #2e2e2e;
            }
          }
        }
      }
    }

    .header-right-wrapper {
      display: flex;
      gap: 22px;

      a {
        text-decoration: none;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        align-self: center;
        img {
          vertical-align: middle;
          padding: 8px;
        }
      }

      button {
        background: none;
        border: none;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #ffffff;
      }
    }
  }
}

// @media screen and (max-width: 1200px) {
//   .container {
//     max-width: 78.333vw;
//   }
// }

// Section 1

.section1-wrapper {
  display: flex;
  margin: 0 0 100px 0;
  .instagram {
    display: flex;
    flex-direction: column;
    width: 112px;
    margin: 177px 0 0 0;
    position: relative;

    a {
      align-self: center;
      img {
        margin: 0 0 63px 0;
      }
    }

    span {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      color: #2e2e2e;
      width: 17px;
      text-align: center;
      align-self: center;
      margin: 0 0 188px 0;
    }

    img {
      width: 22px;
      height: 22px;
      align-self: center;
    }
  }

  .instagram::after {
    content: "";
    position: absolute;
    top: 538px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 107px;
    background: #2e2e2e;
  }

  .wrapper-column {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 173px auto 50px 20px;

    .first-image {
      margin: 0 0 67px 0;
    }

    .second-image {
      position: absolute;
      top: -42px;
      left: 744px;
      width: 719px;
      height: 769px;
    }

    .first-description {
      position: relative;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      color: #2e2e2e;
      margin: 0 0 64px 68px;
    }

    .first-description::before {
      content: "";
      position: absolute;
      width: 44px;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      left: -66px;
      background: #2e2e2e;
    }

    .second-description {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      color: #2e2e2e;
      margin: 0 0 50px 0;
    }
  }
}

.section1-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 710px;
  width: 854px;
  height: 900px;
  background: #8d8b90;
}

.primary-button {
  position: relative;
  padding: 20px 30px;
  background: none;
  border: 1px solid #2e2e2e;
  max-width: 244px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2e2e2e;
  margin: 0 0 93px 0;
}

.primary-button::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 24px);
  background: #2e2e2e;
}

// Section 2

h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 62px;
  line-height: 54px;
  color: #2e2e2e;
}

.section2-wrapper {
  display: flex;
  gap: 152px;
  margin: 0 0 100px 0;

  img {
    max-width: 640px;
    max-height: 700px;
  }

  .wrapper-column {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .description {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: #2e2e2e;
    }
  }

  .video-button {
    background: none;
    border: none;
    display: flex;
    gap: 18px;

    p {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #2e2e2e;
      align-self: center;
    }

    .wrapper {
      border: 1px solid #2e2e2e;
      border-radius: 100%;

      img {
        padding: 21px;
      }
    }
  }
}

// Section 3

.section3-wrapper {
  background: #2e2e2e;
  margin: 0 0 100px 0;

  .wrapper {
    display: flex;
    gap: 100px;
    padding: 100px 0;
    justify-content: center;

    .block {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 23px;

      h3 {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
      }

      p {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #dcdcdc;
      }
    }
    .block::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 87px;
      background: #ffffff;
      top: 0;
      left: -30px;
    }
  }
}

// Section 4

.section4-wrapper {
  margin: 0 0 100px 0;

  h2 {
    margin: 0 0 50px 0;
  }

  .wrapper {
    display: flex;
    gap: 100px;

    .tabs {
      position: relative;
    }

    .tabs::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background: #2e2e2e;
      top: 0;
      right: -50px;
    }
  }

  .bold-list-item:not(li:first-child) {
    margin: 0 0 40px 0;
  }

  li:first-child {
    margin: 0 0 24px 0;
  }
  .bold-list-wrapper {
    margin: 0 0 40px 0;

    .bold-list-item {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #2e2e2e;
    }
  }

  .default-list-item {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #8d8b90;
    margin: 0 0 24px 0;
  }

  .tabs-content-item {
    display: none;
    gap: 50px;
    .wrapper {
      display: block;
      max-width: 469px;

      h3 {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #2e2e2e;
        margin: 0 0 24px 0;
      }

      .description {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #2e2e2e;
        margin: 0 0 32px 0;
      }
      span {
        display: block;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #2e2e2e;
        margin: 0 0 24px 0;
      }
    }
    img {
      max-width: 640px;
      max-height: 596px;
    }
  }
  .tabs-content-item.active {
    display: flex;
  }
}

// Section 5

.swiper-anchor {
  position: relative;
}

.section5-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 100px 0;

  h2 {
    text-align: left;
    margin: 0 0 50px 0;
  }
}

.swiper-wrapper {
  width: 1564px;
}

.swiper-slide {
  text-align: center;
  width: 370px;

  img {
    max-width: 370px;
    max-height: 450px;
  }
}

.swiper-button-prev1 {
  position: absolute;
  padding: 70px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.swiper-button-next1 {
  position: absolute;
  padding: 70px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.swiper-button-prev2 {
  position: absolute;
  padding: 70px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.swiper-button-next2 {
  position: absolute;
  padding: 70px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.swiper-button-prev3 {
  position: absolute;
  padding: 70px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.swiper-button-next3 {
  position: absolute;
  padding: 70px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.swiper-slide-wrapper {
  position: relative;
  text-align: left;
  padding: 0 0 0 20px;

  h3 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2e2e2e;
    margin: 50px 0 24px 0;
  }
  p {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #2e2e2e;
  }
}

.swiper-slide-wrapper::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #2e2e2e;
  top: 0;
  left: 10px;
}

// Section 6

.section6-wrapper {
  margin: 0 0 100px 0;
  background: #eae1d7;
  padding: 100px 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    .wrapper-column {
      width: 658px;

      h2 {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 62px;
        line-height: 54px;
        color: #2e2e2e;
        margin: 0 0 24px 0;
      }

      p {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #2e2e2e;
      }
    }
    .small-form {
      height: 60px;
      display: flex;
      gap: 24px;
      align-self: center;
      transform: translateX(-68px);
      input {
        padding: 20px 24px;
      }
    }
  }
}

.secondary-button {
  position: relative;
  padding: 20px 30px;
  background: none;
  border: 1px solid #2e2e2e;
  max-width: 244px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background: #2e2e2e;
  color: #ffffff;
}

.secondary-button::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 24px);
  background: #2e2e2e;
}

// Section 7

.section7-wrapper {
  margin: 0 0 100px 0;

  h2 {
    margin: 0 0 24px 0;
  }

  .wrapper {
    display: flex;
    gap: 18px;
    margin: 0 0 50px 0;

    p {
      position: relative;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #2e2e2e;
      padding: 0 0 0 30px;
    }

    p::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 1px;
      background: #2e2e2e;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
    }

    a {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #2e2e2e;
    }
  }
}

video {
  position: relative;
  width: 376px;
  height: 668px;
}
.play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(234, 225, 215, 0.2);
  backdrop-filter: blur(3.5px);
  border: none;
  padding: 30px 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;

  img {
    align-self: center;
  }
}

.play:hover {
  background: #ffffff;
  svg {
    path {
      fill: #2e2e2e;
    }
  }
}

.play.inProcess {
  width: 100%;
  height: 100%;
  border-radius: 0;
  opacity: 0;
}

.play:active {
  background: #ffe588;
  svg {
    path {
      fill: #2e2e2e;
    }
  }
}

// Section 8

.section8-wrapper {
  margin: 0 0 100px 0;
  display: flex;

  h2 {
    margin: 0 0 50px 0;
  }

  .swiper-slide-wrapper {
    margin: 0 0 0 31px;
  }

  .swiper-slide-wrapper::after {
    left: -31px;
  }

  .wrapper {
    display: flex;
    gap: 24px;
    margin: 0 0 24px 0;

    img {
      max-width: 96px;
      max-height: 96px;
    }

    span {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #2e2e2e;
      align-self: center;
    }
  }

  p {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #2e2e2e;
  }
}

.section9-wrapper {
  margin: 0 0 100px 0;
  display: flex;
  justify-content: space-between;

  .content {
    h2 {
      margin: 0 0 50px 0;
    }
    .content-wrapper {
      display: flex;
      gap: 20px;
      margin: 0 0 103px 0;

      .wrapper {
        width: 370px;
        display: flex;
        flex-direction: column;
        gap: 33px;

        a {
          font-family: "Gilroy";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          color: #2e2e2e;
          text-decoration: none;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 13px;

          span {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #2e2e2e;
          }

          p {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #2e2e2e;
          }
        }
      }
    }
  }

  .map {
    width: 904px;
    height: 420px;
    background: #8d8b90;
  }
}

.footer-wrapper {
  padding: 56px 0;
  display: flex;
  justify-content: space-between;

  img {
    align-self: center;
  }

  ul {
    display: flex;
    gap: 54px;
    align-self: center;
    li {
      a {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #2e2e2e;
        text-decoration: none;
      }
    }
  }

  p {
    align-self: center;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #2e2e2e;
  }
}
