@import "~swiper/swiper.scss";
@import "~swiper/modules/navigation/navigation.scss";

/* gilroy-ultralightitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 400;
  src: local("Gilroy-UltraLightItalic"),
    url(../assets/fonts/gilroy-ultralightitalic.woff2) format("woff2");
}
/* gilroy-ultralight */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-UltraLight"),
    url(../assets/fonts/gilroy-ultralight.woff2) format("woff2");
}
/* gilroy-thinitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 100;
  src: local("Gilroy-ThinItalic"),
    url(../assets/fonts/gilroy-thinitalic.woff2) format("woff2");
}
/* gilroy-thin */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 100;
  src: local("Gilroy-Thin"),
    url(../assets/fonts/gilroy-thin.woff2) format("woff2");
}
/* gilroy-semibolditalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 400;
  src: local("Gilroy-SemiBoldItalic"),
    url(../assets/fonts/gilroy-semibolditalic.woff2) format("woff2");
}
/* gilroy-semibold */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-SemiBold"),
    url(../assets/fonts/gilroy-semibold.woff2) format("woff2");
}
/* gilroy-regularitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 400;
  src: local("Gilroy-RegularItalic"),
    url(../assets/fonts/gilroy-regularitalic.woff2) format("woff2");
}
/* gilroy-regular */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Regular"),
    url(../assets/fonts/gilroy-regular.woff2) format("woff2");
}
/* gilroy-mediumitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 500;
  src: local("Gilroy-MediumItalic"),
    url(../assets/fonts/gilroy-mediumitalic.woff2) format("woff2");
}
/* gilroy-medium */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy-Medium"),
    url(../assets/fonts/gilroy-medium.woff2) format("woff2");
}
/* gilroy-lightitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 300;
  src: local("Gilroy-LightItalic"),
    url(../assets/fonts/gilroy-lightitalic.woff2) format("woff2");
}
/* gilroy-light */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"),
    url(../assets/fonts/gilroy-light.woff2) format("woff2");
}
/* gilroy-heavyitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 400;
  src: local("Gilroy-HeavyItalic"),
    url(../assets/fonts/gilroy-heavyitalic.woff2) format("woff2");
}
/* gilroy-heavy */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Heavy"),
    url(../assets/fonts/gilroy-heavy.woff2) format("woff2");
}
/* gilroy-extrabolditalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 400;
  src: local("Gilroy-ExtraBoldItalic"),
    url(../assets/fonts/gilroy-extrabolditalic.woff2) format("woff2");
}
/* gilroy-extrabold */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-ExtraBold"),
    url(../assets/fonts/gilroy-extrabold.woff2) format("woff2");
}
/* gilroy-bolditalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 700;
  src: local("Gilroy-BoldItalic"),
    url(../assets/fonts/gilroy-bolditalic.woff2) format("woff2");
}
/* gilroy-bold */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy-Bold"),
    url(../assets/fonts/gilroy-bold.woff2) format("woff2");
}
/* gilroy-blackitalic */
@font-face {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 900;
  src: local("Gilroy-BlackItalic"),
    url(../assets/fonts/gilroy-blackitalic.woff2) format("woff2");
}
/* gilroy-black */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 900;
  src: local("Gilroy-Black"),
    url(../assets/fonts/gilroy-black.woff2) format("woff2");
}

// CSS Reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Header

.container {
  max-width: 81.458vw;
  margin: 0 auto;
  position: relative;

  .header-wrapper {
    display: flex;
    margin: 2.292vw auto 0 auto;
    gap: 7.292vw;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    .header-left-wrapper {
      display: flex;
      gap: 2.5vw;
      nav {
        align-self: center;
        ul {
          display: flex;
          list-style: none;
          gap: 2.031vw;

          li {
            a {
              text-decoration: none;
              font-family: "Gilroy";
              font-style: normal;
              font-weight: 300;
              font-size: 0.833vw;
              line-height: 1.042vw;
              color: #2e2e2e;
            }
          }
        }
      }
    }

    .header-right-wrapper {
      display: flex;
      gap: 1.146vw;

      a {
        text-decoration: none;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 0.833vw;
        line-height: 1.042vw;
        color: #ffffff;
        align-self: center;
        img {
          vertical-align: middle;
          padding: 0.417vw;
        }
      }

      button {
        background: none;
        border: none;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 300;
        font-size: 0.833vw;
        line-height: 1.042vw;
        text-decoration-line: underline;
        color: #ffffff;
      }
    }
  }
}

// @media screen and (max-width: 1200px) {
//   .container {
//     max-width: 78.333vw;
//   }
// }

// Section 1

.section1-wrapper {
  display: flex;
  margin: 0 0 5.208vw 0;
  .instagram {
    display: flex;
    flex-direction: column;
    width: 5.833vw;
    margin: 9.219vw 0 0 0;
    position: relative;

    a {
      align-self: center;
      img {
        margin: 0 0 3.281vw 0;
      }
    }

    span {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 300;
      font-size: 1.25vw;
      line-height: 1.563vw;
      color: #2e2e2e;
      width: 0.885vw;
      text-align: center;
      align-self: center;
      margin: 0 0 9.792vw 0;
    }

    img {
      width: 1.146vw;
      height: 1.146vw;
      align-self: center;
    }
  }

  .instagram::after {
    content: "";
    position: absolute;
    top: 28.021vw;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 5.573vw;
    background: #2e2e2e;
  }

  .wrapper-column {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 9.01vw auto 2.604vw 1.042vw;

    .first-image {
      margin: 0 0 3.49vw 0;
    }

    .second-image {
      position: absolute;
      top: -2.188vw;
      left: 38.75vw;
      width: 37.448vw;
      height: 40.052vw;
    }

    .first-description {
      position: relative;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 300;
      font-size: 1.25vw;
      line-height: 1.563vw;
      color: #2e2e2e;
      margin: 0 0 3.333vw 68px;
    }

    .first-description::before {
      content: "";
      position: absolute;
      width: 2.292vw;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      left: -3.438vw;
      background: #2e2e2e;
    }

    .second-description {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 300;
      font-size: 1.25vw;
      line-height: 1.563vw;
      color: #2e2e2e;
      margin: 0 0 2.604vw 0;
    }
  }
}

.section1-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 36.979vw;
  width: 44.479vw;
  height: 46.875vw;
  background: #8d8b90;
}

.primary-button {
  position: relative;
  padding: 1.042vw 1.563vw;
  background: none;
  border: 1px solid #2e2e2e;
  max-width: 12.708vw;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 0.833vw;
  line-height: 1.042vw;
  color: #2e2e2e;
  margin: 0 0 4.844vw 0;
}

.primary-button::after {
  content: "";
  position: absolute;
  width: 2.292vw;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 1.25vw);
  background: #2e2e2e;
}

// Section 2

h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 3.229vw;
  line-height: 2.813vw;
  color: #2e2e2e;
}

.section2-wrapper {
  display: flex;
  gap: 7.917vw;
  margin: 0 0 5.208vw 0;

  img {
    max-width: 33.333vw;
    max-height: 36.458vw;
  }

  .wrapper-column {
    display: flex;
    flex-direction: column;
    gap: 3.646vw;
  }
  .description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.083vw;

    .description {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 300;
      font-size: 0.938vw;
      line-height: 1.25vw;
      color: #2e2e2e;
    }
  }

  .video-button {
    background: none;
    border: none;
    display: flex;
    gap: 0.938vw;

    p {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 0.833vw;
      line-height: 1.146vw;
      color: #2e2e2e;
      align-self: center;
    }

    .wrapper {
      border: 1px solid #2e2e2e;
      border-radius: 100%;

      img {
        padding: 1.094vw;
      }
    }
  }
}

// Section 3

.section3-wrapper {
  background: #2e2e2e;
  margin: 0 0 5.208vw 0;

  .wrapper {
    display: flex;
    gap: 5.208vw;
    padding: 5.208vw 0;
    justify-content: center;

    .block {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1.198vw;

      h3 {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 1.25vw;
        color: #ffffff;
      }

      p {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 300;
        font-size: 0.833vw;
        line-height: 1.25vw;
        color: #dcdcdc;
      }
    }
    .block::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 4.531vw;
      background: #ffffff;
      top: 0;
      left: -1.563vw;
    }
  }
}

// Section 4

.section4-wrapper {
  margin: 0 0 5.208vw 0;

  h2 {
    margin: 0 0 2.604vw 0;
  }

  .wrapper {
    display: flex;
    gap: 5.208vw;

    .tabs {
      position: relative;
    }

    .tabs::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background: #2e2e2e;
      top: 0;
      right: -2.604vw;
    }
  }

  .bold-list-item:not(li:first-child) {
    margin: 0 0 2.083vw 0;
  }

  li:first-child {
    margin: 0 0 1.25vw 0;
  }
  .bold-list-wrapper {
    margin: 0 0 2.083vw 0;

    .bold-list-item {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 1.042vw;
      line-height: 1.25vw;
      color: #2e2e2e;
    }
  }

  .default-list-item {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 0.938vw;
    line-height: 1.25vw;
    color: #8d8b90;
    margin: 0 0 1.25vw 0;
  }

  .tabs-content-item {
    display: none;
    gap: 2.604vw;
    .wrapper {
      display: block;
      max-width: 24.427vw;

      h3 {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 1.25vw;
        color: #2e2e2e;
        margin: 0 0 1.25vw 0;
      }

      .description {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 300;
        font-size: 0.833vw;
        line-height: 1.25vw;
        color: #2e2e2e;
        margin: 0 0 1.667vw 0;
      }
      span {
        display: block;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 0.833vw;
        line-height: 1.25vw;
        color: #2e2e2e;
        margin: 0 0 1.25vw 0;
      }
    }
    img {
      max-width: 33.333vw;
      max-height: 31.042vw;
    }
  }
  .tabs-content-item.active {
    display: flex;
  }
}

// Section 5

.swiper-anchor {
  position: relative;
}

.section5-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 5.208vw 0;

  h2 {
    text-align: left;
    margin: 0 0 2.604vw 0;
  }
}

.swiper-wrapper {
  width: 81.458vw;
}

.swiper-slide {
  text-align: center;
  width: 19.271vw;

  img {
    max-width: 19.271vw;
    max-height: 23.438vw;
  }
}

.swiper-button-prev1 {
  position: absolute;
  padding: 3.646vw;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.swiper-button-next1 {
  position: absolute;
  padding: 3.646vw;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.swiper-button-prev2 {
  position: absolute;
  padding: 3.646vw;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.swiper-button-next2 {
  position: absolute;
  padding: 3.646vw;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.swiper-button-prev3 {
  position: absolute;
  padding: 3.646vw;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.swiper-button-next3 {
  position: absolute;
  padding: 3.646vw;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.swiper-slide-wrapper {
  position: relative;
  text-align: left;
  padding: 0 0 0 1.042vw;

  h3 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 1.042vw;
    line-height: 1.25vw;
    color: #2e2e2e;
    margin: 2.604vw 0 1.25vw 0;
  }
  p {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 0.833vw;
    line-height: 1.25vw;
    color: #2e2e2e;
  }
}

.swiper-slide-wrapper::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #2e2e2e;
  top: 0;
  left: 0.521vw;
}

// Section 6

.section6-wrapper {
  margin: 0 0 5.208vw 0;
  background: #eae1d7;
  padding: 5.208vw 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2.604vw;

    .wrapper-column {
      width: 34.271vw;

      h2 {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 3.229vw;
        line-height: 2.813vw;
        color: #2e2e2e;
        margin: 0 0 1.25vw 0;
      }

      p {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 1.25vw;
        color: #2e2e2e;
      }
    }
    .small-form {
      height: 3.125vw;
      display: flex;
      gap: 1.25vw;
      align-self: center;
      transform: translateX(-3.542vw);
      input {
        padding: 1.042vw 1.25vw;
      }
    }
  }
}

.secondary-button {
  position: relative;
  padding: 1.042vw 1.563vw;
  background: none;
  border: 1px solid #2e2e2e;
  max-width: 12.708vw;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 0.833vw;
  line-height: 1.042vw;
  background: #2e2e2e;
  color: #ffffff;
}

.secondary-button::after {
  content: "";
  position: absolute;
  width: 2.292vw;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 1.25vw);
  background: #2e2e2e;
}

// Section 7

.section7-wrapper {
  margin: 0 0 5.208vw 0;

  h2 {
    margin: 0 0 1.25vw 0;
  }

  .wrapper {
    display: flex;
    gap: 0.938vw;
    margin: 0 0 2.604vw 0;

    p {
      position: relative;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 0.833vw;
      line-height: 1.146vw;
      color: #2e2e2e;
      padding: 0 0 0 1.563vw;
    }

    p::before {
      content: "";
      position: absolute;
      width: 0.625vw;
      height: 1px;
      background: #2e2e2e;
      left: 0.313vw;
      top: 50%;
      transform: translateY(-50%);
    }

    a {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 0.833vw;
      line-height: 1.146vw;
      color: #2e2e2e;
    }
  }
}

video {
  position: relative;
  width: 19.583vw;
  height: 34.792vw;
}
.play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(234, 225, 215, 0.2);
  backdrop-filter: blur(3.5px);
  border: none;
  padding: 1.563vw 1.667vw;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;

  img {
    align-self: center;
  }
}

.play:hover {
  background: #ffffff;
  svg {
    path {
      fill: #2e2e2e;
    }
  }
}

.play.inProcess {
  width: 100%;
  height: 100%;
  border-radius: 0;
  opacity: 0;
}

.play:active {
  background: #ffe588;
  svg {
    path {
      fill: #2e2e2e;
    }
  }
}

// Section 8

.section8-wrapper {
  margin: 0 0 5.208vw 0;

  h2 {
    margin: 0 0 2.604vw 0;
  }

  .swiper-slide-wrapper {
    margin: 0 0 0 1.615vw;
  }

  .swiper-slide-wrapper::after {
    left: -1.615vw;
  }

  .wrapper {
    display: flex;
    gap: 1.25vw;
    margin: 0 0 1.25vw 0;

    img {
      max-width: 5vw;
      max-height: 5vw;
    }

    span {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 1.042vw;
      line-height: 1.25vw;
      color: #2e2e2e;
      align-self: center;
    }
  }

  p {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 0.833vw;
    line-height: 1.25vw;
    color: #2e2e2e;
  }
}

.section9-wrapper {
  margin: 0 0 5.208vw 0;
  display: flex;
  justify-content: space-between;

  .content {
    h2 {
      margin: 0 0 2.604vw 0;
    }
    .content-wrapper {
      display: flex;
      gap: 1.042vw;
      margin: 0 0 5.365vw 0;

      .wrapper {
        width: 19.271vw;
        display: flex;
        flex-direction: column;
        gap: 1.719vw;

        a {
          font-family: "Gilroy";
          font-style: normal;
          font-weight: 300;
          font-size: 0.833vw;
          line-height: 1.25vw;
          color: #2e2e2e;
          text-decoration: none;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 0.677vw;

          span {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 600;
            font-size: 1.042vw;
            line-height: 1.25vw;
            color: #2e2e2e;
          }

          p {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 300;
            font-size: 0.833vw;
            line-height: 1.25vw;
            color: #2e2e2e;
          }
        }
      }
    }
  }

  .map {
    width: 47.083vw;
    height: 21.875vw;
    background: #8d8b90;
  }
}

.footer-wrapper {
  padding: 2.917vw 0;
  display: flex;
  justify-content: space-between;

  img {
    align-self: center;
  }

  ul {
    display: flex;
    gap: 2.813vw;
    align-self: center;
    li {
      a {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 300;
        font-size: 0.833vw;
        line-height: 1.042vw;
        color: #2e2e2e;
        text-decoration: none;
      }
    }
  }

  p {
    align-self: center;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 0.833vw;
    line-height: 1.042vw;
    color: #2e2e2e;
  }
}

// Popup

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(46, 46, 46, 0.9);
  z-index: 2;

  .popup {
    position: relative;
    margin: 17.396vw auto;
    width: 50vw;
    height: 21.458vw;
    background: #eae1d7;

    .close-button {
      position: absolute;
      top: 1.25vw;
      right: 1.25vw;
      background: none;
      border: none;
    }

    h2 {
      padding: 5.208vw 5.208vw 1.25vw 5.208vw;
    }

    p {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 1.042vw;
      line-height: 1.25vw;
      color: #2e2e2e;
      padding: 0 5.208vw 2.604vw 5.208vw;
    }

    form {
      display: flex;
      gap: 1.25vw;
      margin: 0 8.75vw 0 5.208vw;

      input {
        width: 100%;
        padding: 1.25vw 1.042vw;
      }
    }
  }
}
